<h1>
  Members of the Order of the Phoenix
</h1>
<h2>
  <%= @members.count %> <%= @house %> Members
</h2>

<section class="members_list">
  <% @members.each do |member| %>
    Name: <%= member[:name] %><br>
    Role: <%= member[:role] ? member[:role] : "NA" %><br>
    House: <%= member[:house] %><br>
    Patronus: <%= member[:patronus] ? member[:patronus] : "NA" %><br><br>
  <% end %>
</section>
