<%= @house %> Members of the Order of the Phoenix
<%= @members.count %> <%= @house %> Members

<section class="members_list">
  <% @members.each do |member| %>
    Name: <%= member[:name] %>
    Role: <%= member[:role] if member[:role] %>
    House: <%= member[:house] %>
    Patronus: <%= member[:patronus] if member[:patronus] %>
  <% end %>
</section>
